<?xml version="1.0"?>
<launch>
  <!-- start Webots -->
  <arg name="no_gui" default="false," doc="Start Webots with minimal GUI"/>
  <include file="$(find webots_ros)/launch/webots.launch">
    <arg name="mode" value="realtime"/>
    <arg name="no_gui" value="$(arg no_gui)"/>
    <arg name="world" value="$usr/local/webots/projects/samples/tutorials/worlds/4_wheels_robot.wbt"/>
  </include>

  <arg name="auto_close" default="false" doc="Startup mode"/>
</launch>